






















.main{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* justify-content: space-between; */
}
 .group1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 5%;
}
 .drawer{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    width: inherit;
    /* z-index: 999; */
} 

.profile{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 200px;
    height: 150px;
}

.profile-picture{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
    border-bottom: 1px solid lightgray;
}

.sign-out{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 40%;
}
.displaynotes{
width:100%;
    min-width: 320px;
}













