  
.noteContainer{
    display: flex;
    justify-content: center;
    margin-top: 8%;
}
.cardContainer{
    width: 50%;
    height: 46px !important;
    box-shadow: 1px 1px 6px #A9A9A9 !important;
    border-radius: 10px !important;
    display: flex;
    align-items: center;
}
.subCardContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 2% !important;
    color: #808080;
}
.imageCheckBoxContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
}
.noteTitle{
    font-size: .875rem !important;
    font-weight: 550 !important;
    font-family: Arial, sans-serif !important;
    letter-spacing: .01428571em !important;
}
.inputBase{
    width: 100%;
}
.displayCardContainer{
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: 4%;
    width: 52% !important;
}
.progressBar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
.pinText{
    font-size: 1rem;
    margin-bottom: 1%;
}
.otherText{
    font-size: 1rem;
    margin-bottom: 1%;
    margin-top: 2%;
}
.gridContainer{
    flex-grow: 1;
}
.searchText{
    margin-left: 40%;
}
.trashContainer{
    margin-left: 30%;
}
.trashText{
    font-size: 2rem;
    opacity: 9%;
    display: flex;
    align-items: center;
}
.trashImage{
    margin: 10%;
    display: flex;
    align-items: center;
    opacity: 9%;
}

@media (max-Width: 360px){
    .cardContainer{
        width: 82%;
    }
    .subCardContainer{
        padding: 4% 10% !important;
        align-items: center;
        justify-content: space-between;
    }
    .displayCardContainer{
        margin-top: 10%;
    }
    .noteContainer{
        margin-top: 20%;
    }
    .gridContainer{
        justify-content: center;
    }
    .searchText{
       margin-left: 0;
    }
}